{
  "connections": {
    "incoming": {
      "net": [
        { "scope": "public", "external": ["@external@"], "transform": "shs", "port": 8008 },
        { "host": "0.0.0.0", "port": 8008, "scope": "public", "transform": "shs" },
        { "scope": "private", "transform": "shs", "port": 8008, "host": "0.0.0.0" }
      ]

    },
    "outgoing": {
      "net": [{ "transform": "shs" }],
    "onion": [{ "transform": "shs" }]
    }
  },

"logging": { "level": "info" },
  "postgres": {
        "user": "ssb",
        "host": "127.0.0.1",
        "database": "ssb",
        "password": "ssb",
        "port": 5432
    },
  "captcha": { "always_true": false},
  "blobs": {
    "stingy": false,
    "sympathy": 3,
    "pushy": 3,
    "legacy": true,
    "max": 26214400
  }
}

