  <!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body class="black">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   

          <div class="row p4" style="margin-top:48px;">

              <div class="col s12 m6 offset-m3 mt-3">


      <div class="card teal darken-3">
        <div class="card-content white-text">
          <span class="card-title">Invalid</span>
          
          
        </div>
      </div>

    </div>

  </div>

    </body>
<script>
setTimeout(() => {
  window.location = '/invite/'
  }, 3000);
</script>
</html>