Source: {{ package_name }}
Build-Depends: git, nodejs, libsodium, dpkg, fakeroot, jq
Homepage: {{ homepage }}
Version: {{ app_version }}
Section: net
Priority: optional
Maintainer: {{ author }}.
Package: {{ package_name }}
Architecture: all
Depends: postgresql, sudo, npm, nodejs, libsodium23, coreutils, bash, tor, python3-cryptography, libsecp256k1-1, net-tools, bluetooth, bluez
Description: {{ package_description }} .
